*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

footer{
    font-size: 36pt !important;
    margin-top: 225px;
    padding: 20px;
    text-align: center;
    width: 100%;
    float: left;
    background-color: #167AD0;
    color:white;
    box-shadow: 0 3px 8px black;
}

body{
    background-image: url(../Imagenes/fondo.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;

}

header{
    padding: 0px 16px;
    color: #555;
    width: 100%;
    position: fixed;
    z-index: 1;
}



.textochat{
    font-size: 50px;
    color: #167AD0;
    
}

.footers{
   color: #ff7683;
    background-color: #ff7683;
  }

.flex{
    display: flex;
}

nav{
    position: absolute;
    right: 30px;
}


nav > ul{
    list-style: none;
}

nav>ul>li{
    display: inline-block;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav>ul>li>a{
    text-decoration: none;
    color: #555;
}

nav>ul>li:hover {
    background-color: whitesmoke;
    color: red;
    font-weight: bolder;
    /*Tipo de cursor*/
    cursor: pointer;
    /*Esquinas*/
    border-radius: 10px;
}

.btnSup{
    padding-top: 10px;
    background-color: white;
    right: 0;
    border-radius: 0px 0px 0px 20px;
}


.titulo{
    padding-top: 150px;
    padding-left: 80px;
}

.desc{
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.row {
    content: "";
    clear: both;
    display: table;
    margin-top: 100px;
  }
  

.contenedor{
    float: left;
    width: 33.33%;
    text-align: center;
}

img{
    width: 500px;
}

.row {
    width: 100%;
    display: table;
    margin-top: 100px;
    text-align: center;
  }
  

.contenedor{
    position: relative;
    float: left;
    width: 33.33%;
    
}

footer .row{
    margin-top: 0;
    padding-left: 0;
    text-align: left;
}

footer .contenedor{
    padding-left: 11vw;
    
    text-align: left;
}

footer p{
    font-size: 15px;
}

.chatbot{
    width: 110px
}

.chatbotsection{
    background-color: transparent;
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 35px;
 
    
}

.marca{
    width: 150px;
   margin-left: 850px;
}

.chatbotadrianlalo{
    text-align: center;
}

footer .row a {
    color: white;
}
