
/* || ESPESIFICO A SERVICIOS ||*/

.row a {
      color: white;
}   
.paginasweb{
    text-align: center;
}

.descripcionserv{
    text-align: center;
    font-size: 20px;
}

.row {
    width: 100%;
    display: table;
    margin-top: 100px;
    text-align: center;
  }
  

.contenedor{
    position: relative;
    float: left;
    width: 33.33%;
    
}

.textoservicios{
    font-size: 50px;
    color: #167AD0;
    
}
.integrantes{
    width: 100%;
    text-align: center;
    color:white;
}

.seccionservicios{
    background-color: white;
    border-radius: 10px;
    margin-left: 35px;
    margin-right: 35px;
}

.paginaoficial{
    background-color: #DCD7D4;
    width: 100%;
    display: flex;
}

.paginaoficial2{
    width: 100%;
    display: flex;
}

.titulo{
    padding-top: 150px;
    padding-left: 80px;
}

.desc{
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.row {
    content: "";
    clear: both;
    display: table;
    margin-top: 100px;
  }
  

.contenedor{
    float: left;
    width: 33.33%;
    text-align: center;
}

.logo{
    width: 20%;
    text-align: center;
}

.btn{
    width: 30%;
}

.nom{
    padding-left: 1%;
    width: 50%;
    margin: auto;
}

#botonir{
    padding-top: 25px;
    margin-bottom: 20px;
    right: 0;
}

#botonir a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 45px;
    padding-left: 45px;
    width: 30px;
    background: linear-gradient(180deg, #6F2C8D 0%, #EB2177 100%);
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 2s;
}
#botonir a:hover{
background: linear-gradient(180deg, #DCD7D4 0%, #167AD0 100%);
box-shadow: 5px 5px 5px #2F3540;
}

.dif{
    width: 125px
}
.udegs{
    width: 200px
}
.salme{
    width: 190px
}

/* || RESPONSIVIDAD PARA CELULARES || */

@media only screen and (max-width: 720px){


    h1{
        font-size: 30px !important;
    }
    
    .btnSup{
        visibility: hidden;
    }

    .textoservicios{
        font-size: 40px;
    }

    .titulo{
        padding-top: 50px;
        padding-left: 0px;
        text-align: center;
    }

    .desc{
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }

    .seccionservicios{
        margin-left: 10px;
        margin-right: 10px;
    }

    footer h3{
        font-size: 2px;
    }

    #botonir{
        padding-top: 50%;
        padding-bottom: 50%;
        font-size: 10px;
        margin-bottom: 0;
    }
    
    #botonir a {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
        width: 30px;
        background: linear-gradient(180deg, #6F2C8D 0%, #EB2177 100%);
        border-radius: 30px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: all 2s;
    }
    #botonir a:hover{
    background: linear-gradient(180deg, #DCD7D4 0%, #167AD0 100%);
    box-shadow: 5px 5px 5px #2F3540;
    }

    .logo{
        width: 20%;
        text-align: center;
    }
    
    .btn{
        width: 50%;
    }
    
    .nom{
        font-size: 14px;
        width: 30%;
        margin: 15px;
    }

    footer{
        margin-top: 80px;
    }
}
