*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* || GENERAL STYLES ||*/

body{
    background-image: url(../Imagenes/fondo.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size: cover;
}

header{
    color: #555;
    width: 100%;
    position: fixed;
    z-index: 1;
}

header h1{
    padding-left: 20px;
    padding-top: 10px;
}

main{
    height: 100vh;
    width: 100%;
}

footer{
    width: 100%;
    float: left;
    background-color: #167AD0;
    color:white;
    box-shadow: 0 3px 8px black;
}

footer{
    font-size: 36pt !important;
    margin-top: 225px;
    padding: 20px;
    text-align: center;
    width: 100%;
    float: left;
    background-color: #167AD0;
    color:white;
    box-shadow: 0 3px 8px black;
}

footer .contenedor{
    padding-left: 11vw;
    text-align: left;
}

footer p{
    font-size: 15px;
}

nav{
    position: absolute;
    right: 0px;
}


nav > ul{
    list-style: none;
}

nav>ul>li{
    display: inline-block;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav>ul>li>a{
    text-decoration: none;
    color: #555;
}

nav>ul>li:hover {
    background-color: whitesmoke;
    color: red;
    font-weight: bolder;
    /*Tipo de cursor*/
    cursor: pointer;
    /*Esquinas*/
    border-radius: 10px;
}


.flex{
    display: flex;
}

.btnSup{
    padding-top: 10px;
    background-color: white;
    right: 0;
    border-radius: 0px 0px 0px 20px;
}


/* || Espesifico a Index ||*/

.estambre1{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 1;
}

.estambre1 img{
    width: 350px;
}

.estambre2{
    position: absolute;
    left: 5px;
    bottom: 15px;
    z-index: 1;
}

.estambre2 img{
    width: 180px;
}

.estambre3{
    position: absolute;
    left: 5px;
    top: 65px;
    z-index: 1;
}

.estambre3 img{
    width: 250px;
}

.texto{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 50vw;
    margin: auto;
}

#boton{
    padding-top: 10px;
    margin-bottom: 20px;
}

#boton a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    width: 30px;
    background: linear-gradient(180deg, #6F2C8D 0%, #EB2177 100%);
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 2s;
}
#boton a:hover{
background: linear-gradient(180deg, #DCD7D4 0%, #167AD0 100%);
box-shadow: 5px 5px 5px #2F3540;
}

.textoG{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.contenedor{
    position: relative;
    float: left;
    width: 33.33%;
    
}

.textoP{
    margin-right: 25px auto;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.carousel {
    height:100%;
  }

.carousel-inner img{
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

.header_button{
    visibility: hidden;
}

/* || RESPONSIVIDAD PARA CELULARES || */

@media only screen and (max-width: 720px){

    footer h3{
        font-size: 4.5vw;
    }

    footer .contenedor{
        padding-left: 6vw !important;
    }

    .header_button{
        visibility: visible;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        background: none;
        outline: none;
        border: none;
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 0;
    }

    .nav{
        z-index: 2;
    }

    .nav_links{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 4;
        height: 100vh;
        width: 170px;
        background: #ffff;
        transform: translateX(170px);
        transition: transform 0.2s;
    }

    .nav_link{
        display: flex;
        align-items: center;
        color: #666666;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        padding-left: 15px;
        height: 60px;
        background: transform 0.3s;
    }

    .nav_link i{
        margin-right: 15px;
    }

    .nav_link_active{
        color: #009578;
        background: #eeeeee;
    }

    .nav_link:hover{
        color: #009578;
    }

    .nav_open .nav_links{
        transform: translateX(0);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .nav_overlay{
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .nav_open .nav_overlay{
        visibility: visible;
        opacity: 1;
    }

    .carousel {
        width: 1050px;
        left: -380px;
    }

    .btnSup{
        visibility: hidden;
    }

    main{
        overflow: hidden;
        
    }

    h1{
        font-size: 30px !important;
    }

    .estambre1 img{
        width: 150px;
    }
    
    .estambre2 img{
        width: 90px;
    }
    
    .estambre3 img{
        width: 90px;
    }

    .textoG{
        font-size: 25px;
    }

    .textoP{
        font-size: 15px;
    }

    .texto{
        top: 50%;
        left: 5%;
        width: 80%;
    
    }

    #boton{
        padding-top: 10px;
        margin-bottom: 20px;
    }

    #boton{
        padding-top: 40px;
        margin-bottom: 20px;
    }

    #boton a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 6px;
        padding-left: 6px;
        font-size: 15px;
    }

    
}