*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    padding: 10px 16px;
    color: #555;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.flex{
    display: flex;
}

.estambre1{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 3;
}

.estambre1 img{
    width: 350px;
}

.estambre2{
    position: absolute;
    left: 5px;
    bottom: 15px;
    z-index: 3;
}

.estambre2 img{
    width: 180px;
}

.estambre3{
    position: absolute;
    left: 5px;
    top: 65px;
    z-index: 3;
}

.estambre3 img{
    width: 250px;
}

nav{
    position: absolute;
    right: 0px;
}


nav > ul{
    list-style: none;
    }

    nav>ul>li{
        display: inline-block;
        width: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

    nav>ul>li>a{
        text-decoration: none;
        color: #555;
    }

    nav>ul>li:hover {
        background-color: whitesmoke;
        color: red;
        font-weight: bolder;
        /*Tipo de cursor*/
        cursor: pointer;
        /*Esquinas*/
        border-radius: 10px;
    }


#color {
    width: 100vw;
    height: 100vh;
    color: #D9D9D9;
    background-color: rgba(108, 128, 140, 0.22);
    justify-content: center;
    align-items: center;
    
}

.texto{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 50vw;
    margin: auto;

}

#boton{
    padding-top: 10px;
    margin-bottom: 20px;
}

#boton a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    width: 30px;
    background: linear-gradient(180deg, #6F2C8D 0%, #EB2177 100%);
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 2s;
}
#boton a:hover{
background: linear-gradient(180deg, #DCD7D4 0%, #167AD0 100%);
box-shadow: 5px 5px 5px #2F3540;
}

.textoG{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.contenedor{
    position: relative;
    float: left;
    width: 33.33%;
    
}

.textoP{
    margin-right: 25px auto;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.inline{
    display: inline-block;
}

.carousel {
    height:100%;
  }

main{
    height: 100vh;
}

.carousel-inner img{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

@media only screen and (max-width: 411px){
    .carousel {
        width: 1050px;
        left: -380px;
    }

    body{
        overflow: hidden;
    }

    h1{
        font-size: 20px !important;
    }

    .estambre1 img{
        width: 150px;
    }
    
    .estambre2 img{
        width: 90px;
    }
    
    .estambre3 img{
        width: 90px;
    }

    .textoG{
        font-size: 25px;
    }

    .textoP{
        font-size: 15px;
    }

    .texto{
        top: 30%;
        left: 5%;
        width: 100%;
    
    }

    #boton{
        padding-top: 10px;
        margin-bottom: 20px;
    }

    #boton{
        padding-top: 40px;
        margin-bottom: 20px;
    }

    #boton a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 6px;
        padding-left: 6px;
        font-size: 15px;
    }
}